.cart {
    padding: 1%;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart > h1 {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.cart-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.product-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f7d1ac;
}

.product-data-image {
    max-width: 150px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.product-data-details {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
}

.product-data-details > p:first-child {
    font-size: 2rem;
    font-weight: 700;
}

.quantity-input {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.quantity-input > .quantity-number {
    width: 64px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #f7d1ac;
    background: none;
    font-size: 1;
    font-weight: 700;
    -moz-appearance: textfield;
}

.quantity-input > .quantity-number[type="number"] {
    -moz-appearance: textfield;
}

.quantity-input > 
.quantity-number::-webkit-outer-spin-button,  
.quantity-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-btn {
    font-size: 1rem;
    width: 42px;
    height: 42px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.product-data-prices {
    margin: 0px 16px;
    min-width: 150px;
}

.total-price {
    font-weight: 700;
    align-self: flex-end;
    margin: 16px 0px;
}

.checkout-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    align-self: flex-end;
}

.checkout-btn:hover {
    border-color: #000000;
    background: #f7f7f7;
}


.delete-button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .cart-wrapper {
        width: 90%;
    }

    .product-data {
        flex-flow: column nowrap;
        justify-content: center;
    }

    .product-data > * {
        margin: 8px 0px;
    }

    .delete-button {
        font-size: 24px;
    }
}