.home {
    padding: 1%;
    display: flex;
    height: calc(100vh - 70px);
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./wave.svg");
    background-size: 50%;
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #fc7f2d;
    background-blend-mode: overlay;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.home-left > h2 {
    font-size: 3rem;
}

.home-left > p {
    font-size: 2rem;
}

.home-left > a > button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #fc7f2d 0%, #eb9f2e 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    margin: 16px 0px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}

.home-left > a > button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #e07e3c;
    transform: translateY(-2px);
}

.home-left > a > button:active{
    box-shadow: inset 0px 3px 7px #e06a3c;
    transform: translateY(2px);
}
