@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;800&family=Passion+One&display=swap');

nav {
    display: flex;
    width: 100%;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}

nav > a {
    appearance: none;
    text-decoration: none;
}

nav > a:visited {
    appearance: none;
    color: black;
}

nav > a > p {
    font-family: 'Passion One', sans-serif;
    font-size: 2rem;
}

.right-nav {
    font-family: 'Noto Sans', sans-serif;
}

.right-nav > * {
    display: inline-block;
    margin: 0 1rem;
}

.right-nav > a {
    appearance: none;
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.right-nav > a.active {
    color: orangered;
}

.right-nav > .cart-button {
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #ff5000;
    line-height: 1.15;
    font-size: 16px;
}

.right-nav > .cart-button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px orange;
}